html {
  box-sizing: border-box;
  font-size: 16px;
}

html, body, #app, #root-div, .hero-image{
  height: 100%;
}

.ui.grid {
  padding: 0;
}

/* EVENT LIST COMPONENT */
.banner-event-list {
  height: 300px;
  background-image: url(./images/building.jpg);
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.banner {
  height: 300px;
  background-image: url(./images/waterfall.jpeg);
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-create {
  height: 300px;
  background-image: url(./images/umbrella.jpeg);
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.divider {
  margin-bottom: 50px;
}

.banner-title {
  font-size: 5rem;
  color: #fff;
  padding-left: 20%;
  padding-top: 7%;
  font-family: 'Unica One', cursive;
  text-shadow: 2px 2px 4px #000000;
}

.subtitle-header {
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.hero-nav {
  padding: 0px;
}

.gaps {
  padding: 10px;
}

.items {
  border: 1px solid #ededed;
}

button {
  border-width: 0px;
}

.ui.item.button {
  background-color: red;
}

/* Landing Container */

.hero-image {
  padding: 0px;
  height: 100%;
  background-image: none;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-container {
  background-color: rgba(147, 133, 133, 0.4);
  display: block;
  top: 50%;
  width: 80%;
  padding-bottom: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate (-50%, -50%);
}

.hero-header {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}

.hero-h1 {
  font-size: 11rem;
  font-family: 'Unica One', cursive;
  color: #fff;
  text-align: center;
}

.hero-description {
  width: 80%;
  padding: 2%;
  background-color: rgba(211, 211, 211, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.hero-button {
  height: 10%;
  opacity: 0.99;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.ui.inverted.black.button {
  padding: 0, auto, 0, auto;
  opacity: 0.9;
}

.ui.inverted.black.button:hover {
  opacity: 0.65;
}

.events-list-text {
  font-size: 2rem;
  opacity: 1;
}

/*  EVENT DETAILS STYLES */

.banner-event-details {
  height: 265px;
}

#desc-column {
  background-image: url(./images/hero-forest.jpg);
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

 .event-details-title {
   font-family: 'Unica One', cursive;
   font-size: 7rem;
   color: #e6e6e6;
   text-align: center;
   vertical-align: middle;
 }

.subtitle-header {
  color: #fff;
  text-align: center;
}

p {
  font-family: 'Athiti', sans-serif;
}


.desc-box {
  height: 25rem;
  max-height: 20rem;
}

.poster-image-box {
  padding: 0;
}

.poster-image {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.ui.divided.grid {
  margin-top: 0em;
}

/*  DISQUS */

/*#rsvp {
  border: 1px solid gray;
}*/

.disqus-box {
  padding: 0px;
  margin: 0px;
}

#disqus {
  height: 40rem;
  max-height: 50rem;
  padding: 10px;
  font-size: 1.25em;
}

#descript {
  font-size: 1.25em;
  padding-right: 30px;
  height: 100%;
  overflow-y: scroll;
}

.event-deets {
  font-size: 1.15rem;
  padding-left: 100px;
}

.boom {
  background-color: #f1efef;
  padding: 30px;
}

.meta {
  font-size: 1.25em;
}
